.idea/
.DS_Store
data/
train/
val/
runs/
__pycache__/
*.rtsz
*_example.py
example_*.py
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.webp
*.heic
*.heif
*.csv
*.txt
*.log
*.json
*.jsonl
*.jsonl.gz
*.jsonl.bz2
*.jsonl.zip
requirements*.txt
*.md
!README.md
!*/README.md
models/
predicions*.csv
batwoman*
cvat/
*.out